*.jpg
*.jpeg
*.png
*.pdf
visualize.ipynb
exploratory_data_analysis.ipynb
*.npy
*.json
*.pth
/.ipynb_checkpoints/
/__pycache__/
/IMGC/
/code/
/data/
/LUMO_FEATURES/
/LUMO_images/
/environmental/
/runs/
/sheartable/
/shm/
/Z24/