*.jpg
*.jpeg
*.png
*.pdf
*.pkl
*.txt
visualize.ipynb
exploratory_data_analysis.ipynb
*.npy
*.json
*.pth
/.ipynb_checkpoints/
/__pycache__/
/IMGC/
/Random/
/code/
/features/
/data/
/Chapter2-Z24-dataset/eda\ -\ Copy.ipynb
/LUMO_FEATURES/
/LUMO_images/
/environmental/
/runs/
/sheartable/
/shm/
/Z24/